.global {
    display: flex;
    height: 1462px;
    background-color: #696969;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.title {
    margin-left: 15%;
    width: 30%;
    height: 3%;
    font-size: 300%;
}
#jeux {
    width: 80%;
    height: 35%;
    background-color: #A9A9A9;
}
#choixJoueurs {
    display: flex;
    width: 100%;
    height:100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    text-align: center;
}
.boutonJoueurs {
    width: 5%;
    height: 9%;
    margin-bottom: 5%;
}
.container {
    display: flex;
    width: 100%;
    height: 50%;
    margin-left: 10%;
}
#main {
    display: none;
    background-color: #A9A9A9;
    width: 75%;
    height: 15%;
    border: solid 5px black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#containerPioche {
    display: none;
    background-color: #A9A9A9;
    width: 4.9%;
    height: 15%;
    margin-right: 2%;
    margin-top: 0.5%;
}

#pioche {
    width:100%;
    height: 100%;
    background-color: #A9A9A9;
}

#main img {
    width: 10.3%;
    position: static;
}
#rotate {
    display: none;
    flex-direction: column;
    background-color:#696969;
    width: 5%;
    height: 16.3%;
    align-items: center;
}
.dominos {
    grid-column: 2 / span 39;
    grid-row: 3;
    display : none;
    transform: rotate(0turn);
}
#rotation {
    margin-top: 5%;
    margin-right: 40%;
    width: 50%;
    height: 50%x;
}